<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wb</title>

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
        />

        <link rel="stylesheet" href="css/style.css" />

        <!-- box icons -->
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />

        <!-- custom css -->
        <link rel="stylesheet" href="css/style.css" />
    </head>

    <body>
        <!-- header design -->
        <header class="header">
            <a href="#" class="logo">Portfolio</a>

            <i class="bx bx-menu" id="menu-icon"></i>

            <nav class="navbar">
                <a href="#home" class="active">Home</a>
                <a href="#about">About</a>
                <a href="#services">Services</a>
                <a href="#portfolio">Portfolio</a>
                <a href="#contact">Contact</a>
                <a href="{{'home'}}">Dashboard</a>
            </nav>
        </header>

        <!-- home section design -->
        <section class="home" id="home">
            <div class="home-content">
                <h3>Hallo, It's Me</h3>
                <h1>Arviansyah Wahyu Ramadhan</h1>
                <h3>And I'm a <span class="multiple-text"></span></h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Illo sunt officia maiores vel, explicabo quae sapiente
                </p>
                <div class="social-media">
                    <a href="https://www.instagram.com/wrarviansyahh/"
                        ><i class="bx bxl-instagram"></i
                    ></a>
                    <a
                        href="https://www.linkedin.com/in/arviansyah-wahyu-r-91b146276/"
                        ><i class="bx bxl-linkedin"></i
                    ></a>
                    <a href="https://github.com/rarviansyah"
                        ><i class="bx bxl-github"></i
                    ></a>
                    <a href="https://twitter.com/wrarviansyahhh"
                        ><i class="bx bxl-twitter"></i
                    ></a>
                </div>
                <a href="images/Arviansyah Wahyu Ramadhan - CV.pdf" class="btn"
                    >Download CV</a
                >
            </div>

            <div class="home-img">
                <img src="images/c.png" alt="" />
            </div>
        </section>

        <!-- about section design -->
        <section class="about" id="about">
            <div class="about-img">
                <img src="images/bb.png" alt="" />
            </div>

            <div class="about-content">
                <h2 class="heading">About <span>Me</span></h2>
                <h3>Frontend Developer</h3>
                <p>
                    I graduated from SMK Wikrama Bogor majoring in computer and
                    network engineering. I have work experience in IT Support
                    such as computer assembly and repair, Windows & Linux OS
                    installation, Network Troubleshooting, network and PC
                    maintenance, and also other skills in software such as HTML,
                    CSS, JS, Laravel. I am motivated to work with a team in IT
                    Support and Web Developer and also want to continue to
                    improve my skills in the field of hardware or software, want
                    to learn new things.
                </p>
                <a href="#" class="btn">Read More</a>
            </div>
        </section>

        <!-- services section design -->
        <section class="services" id="services">
            <h2 class="heading">Our <span>Services</span></h2>

            <div class="services-container">
                <div class="services-box">
                    <i class="bx bx-code-alt"></i>
                    <h3>Web Devepolment</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Excepturi quibusdam delectus asperiores modi in
                        quis numquam voluptatum itaque quas similique?
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>

                <div class="services-box">
                    <i class="bx bx-support"></i>
                    <h3>IT Support</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Excepturi quibusdam delectus asperiores modi in
                        quis numquam voluptatum itaque quas similique?
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>

                <div class="services-box">
                    <i class="bx bx-wifi"></i>
                    <h3>Wireless Networking</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Excepturi quibusdam delectus asperiores modi in
                        quis numquam voluptatum itaque quas similique?
                    </p>
                    <a href="#" class="btn">Read More</a>
                </div>
            </div>
        </section>

        <!-- portfolio section design -->
        <section class="portfolio" id="portfolio">
            <h2 class="heading">Latest <span>Project</span></h2>

            <div class="portfolio-container">
                <div class="portfolio-box">
                    <img src="images/portfolio1.jpg" alt="" />
                    <div class="portfolio-layer">
                        <h4>Web Developer</h4>
                        <p>Create Table CRUD using HTML,CSS,JS,PHP Native</p>
                        <a href="#"><i class="bx bx-link-external"></i></a>
                    </div>
                </div>

                <div class="portfolio-box">
                    <img src="images/portfolio2.png" alt="" />
                    <div class="portfolio-layer">
                        <h4>Web Developer</h4>
                        <p>
                            Create Website Portfolio using HTML,CSS,Bootstrap,JS
                        </p>
                        <a href="#"><i class="bx bx-link-external"></i></a>
                    </div>
                </div>

                <div class="portfolio-box">
                    <img src="images/portfolio3.png" alt="" />
                    <div class="portfolio-layer">
                        <h4>Web Developer</h4>
                        <p>Create Website Portfolio using HTML,CSS,JS</p>
                        <a href="#"><i class="bx bx-link-external"></i></a>
                    </div>
                </div>

                <div class="portfolio-box">
                    <img src="images/portfolio4.png" alt="" />
                    <div class="portfolio-layer">
                        <h4>Web Developer</h4>
                        <p>Create Table CRUD using Laravel</p>
                        <a href="#"><i class="bx bx-link-external"></i></a>
                    </div>
                </div>

                <div class="portfolio-box">
                    <img src="images/portfolio5.jpg" alt="" />
                    <div class="portfolio-layer">
                        <h4>Web Developer</h4>
                        <p>Create Web Application scholl</p>
                        <a href="#"><i class="bx bx-link-external"></i></a>
                    </div>
                </div>

                <div class="portfolio-box">
                    <img src="images/" alt="" />
                    <div class="portfolio-layer">
                        <h4>Web</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Laboriosam, quisquam!
                        </p>
                        <a href="#"><i class="bx bx-link-external"></i></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- contact section design -->
        <section class="contact" id="contact">
            <h2 class="heading">Contact <span>Me</span></h2>

            <form action="#" name="contact-form">
                <div class="input-box">
                    <input type="text" placeholder="Full Name" name="name" />
                    <input
                        type="email"
                        placeholder="Email Address"
                        name="email"
                    />
                </div>
                <div class="input-box">
                    <input
                        type="number"
                        placeholder="Mobile Number"
                        class="number"
                        name="number"
                    />
                </div>
                <textarea
                    name="message"
                    id=""
                    cols="30"
                    rows="10"
                    placeholder="Your Message"
                ></textarea>
                <input type="submit" id="" value="Send Message" class="btn" />
                <div class="spinner-border d-none btnl" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <br /><br />
                <div
                    class="alert alert-light alert-dismissible fade show d-none mya"
                    role="alert"
                >
                    <strong>Thank you!</strong>Your message has been received.
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                    ></button>
                </div>
            </form>
        </section>
        <!-- footer design -->
        <footer class="footer">
            <div class="footer-text">
                <p>Copyright &copy; 2023 by Arviansyah | All Right Reserved.</p>
            </div>

            <div class="footer-iconTop">
                <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
            </div>
        </footer>
        <!-- education section design -->

        <!-- skills section design -->

        <!-- scroll reveal -->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!-- typed js -->
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"
        ></script>

        <script src="js/script.js"></script>
    </body>
</html>
